*{
    background-color: #f0fcec;
    padding: 0;
    font-family: 'Poppins';
}

body{
    padding-left: 100px;
    padding-right: 100px;
}

a{
    text-decoration: none;
    color: grey;
}

nav{
    text-align: left;
}

nav li{
    display: inline-block;
    padding-right: 15px;
}

header{

}

.judul1{
    color: #4cac4c;
    border-bottom: 1px solid #4cac4c;
    padding-bottom: 5px;
    padding-top: 5px;
}

.banner1{
    background-position: center;
    width: 100%;
}

.judul2{
    text-align: center;
    border-bottom: 1px solid #4cac4c;
    margin-top: px;
}

.baju{
    border: 1px solid #4cac4c;
    padding-left: 10px;
}

.bajuu{
    font-size: 15px;
}

.harga1{
    font-weight: bold;
    display: flex;
}

.diskon1{
    font-weight: bold;
    color: grey;
    margin-top: -10px;
    font-size: small;
}

.gambar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 33%;
}

.baju1{
    width: 50%;
    height: 50%;
    margin-left: 150px;
}

.baju2{
    width: 50%;
    height: 50%;
    margin-left: 150px;
}

.baju3{
    width: 50%;
    height: 50%;
    margin-left: 150px;
}

.deskripsi-baju{
    margin-top: 50px;
    font-size: 15px;
}

.elektronik{
    margin-top: 20px;
    border: 1px solid #4cac4c;
    padding-left: 10px;
}